.contest-form {
  .local-reset();
  //padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contest-form__fieldset {
  .local-reset();
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 41px;
  padding-bottom: 42px;
  border: 0;
  &--id {
    padding-top: 52;
    padding-bottom: 44px;
    order: 1;
  }
  &--achievements {
    padding-bottom: 41px;
    background-color: #f2f2f2;
    order: 2;
  }
  &--contacts {
    padding-bottom: 44px;
    order: 3;
  }

  &--application {
    padding-bottom: 41px;
    background-color: #f2f2f2;
    order: 4;
  }

  &--emotions {
    padding-bottom: 52px;
    order: 5;
  }
}
.contest-form__legend {
  .local-reset();
  width: 280px;
  margin: 0 auto;
  padding-right: 15px;
  //padding-bottom: 39px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 1.285;
  font-weight: 400;
  color: @color-pink;
  text-transform: uppercase;
  text-align: center;
  &--achievements {
    padding-bottom: 40px;
  }
  &--application {
    padding-bottom: 36px;
  }
  &--contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &--emotions {
    padding-bottom: 17px;
  }
}
.contest-form__text {
  .local-reset();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 17px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
 .contest-form__label-text {
  max-width: 258px;
  margin-bottom: 5px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 2.142;
  font-weight: 400;
  color: @color-pink;
  text-transform: uppercase;
 }
 .contest-form__input-text {
  width: 100%;
  height: 63px;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid @color-border;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  color: @base-color;
  &::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: @base-color;
    opacity: 1;
  }
}
.contest-form__list-checkbox,
.contest-form__list-radio {
  .list-reset();
}
.contest-form__block-checkbox {
  .local-reset();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.contest-form__textarea-item {
  .local-reset();
}
.contest-form__textarea {
  width: 280px;
  height: 201px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 19px;
  box-sizing: border-box;
  border: 2px solid @color-border;
  font-size: 18px;
  line-height: 1.666;
  font-weight: 400;
  color: @base-color;
  &::placeholder {
    font-family: "Open Sans", "Verdana", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.666;
    font-weight: 400;
    color: #283645;
    opacity: 1;
  }
}
.contest-form__submit {
  padding-left: 20px;
  padding-left: 20px;
  order: 6;
  }
.contest-form__button {
  margin: 0 auto;
  margin-bottom: 37px;
  display: block;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  padding: 17px;
  width: 275px;
  box-sizing: border-box;
  border: 3px solid @color-green;
  border-radius: 3px;
  background-color: @color-green;
  cursor: pointer;
  }
.contest-form__field-obligatory {
  .local-reset();
  text-align: center;
  font-size: 14px;
  line-height: 2.142;
  color: @base-color;
  text-transform: uppercase;
}
.contest-form__field-obligatory sup {
  color: @color-pink;
}
@media (min-width: @tablet-width) {
  .contest-form {
    padding-bottom: 51px;
  }
  .contest-form__fieldset {
    width: 620px;
    margin: 0 auto;
    padding-top: 23px;

    &--id {
      padding-top: 29px;
      padding-bottom: 43px;
      order: 1;
    }

    &--achievements {
      background-color: #ffffff;
      order: 4;
    }

    &--contacts {
      padding-top: 25px;
      order: 3;
    }

    &--application {
      background-color: #ffffff;
      order: 2;
    }

    &--emotions {
      padding-bottom: 66px;
      order: 5;
    }
  }
  .contest-form__wrapper {
    width: 616px;
    padding-bottom: 51px;
    border: 2px solid #e5e5e5;
    &--application {
      padding-bottom: 53px;
    }

    &--contacts {
      padding-bottom: 27px;
    }

    &--achievements {
      padding-bottom: 47px;
    }

    &--comments {
      padding-bottom: 44px;
    }
  }
  .contest-form__legend {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 80%;
    //padding-right: 36px;
    //padding-bottom: 36px;
    //padding-left: 36px;
    background-color: #ffffff;
    position: relative;
    top: -10px;
    left: 25%;
    transform: translateX(-50%);

    &--id {
      padding-right: 25px;
      padding-left: 25px;
    }

    &--application {
      padding-right: 25px;
      padding-left: 25px;
    }

    &--contacts {
      position: relative;
      width: auto;
      height: auto;
      margin: 0;
      padding-bottom: 27px;
      white-space: normal;
      clip-path: none;
      clip: auto;
      overflow: visible;
      border: 0;
    }
    &--textarea {
      padding-right: 37px;
      padding-bottom: 27px;
      padding-left: 37px;
    }
  }
  .contest-form__block-text {
    width: 500px;
    margin-left: 57px;
    margin-right: auto;
  }
  .contest-form__text {
    margin-bottom: 52px;
    flex-direction: row;
    &--contact {
      width: 500px;
      margin-bottom: 29px;
    }
  }
  .contest-form__label-text {
    max-width: 100%;
    width: auto;
    margin: 0;
    margin-top: 18px;
    margin-right: 19px;
    padding: 0;
    &--contacts {
      margin: 0;
      margin-top: 10px;
      margin-left: 20px;
      order: 2;
    }
  }
  .contest-form__input-text {
    min-width: 50%;
    width: auto;
    &--contact {
      width: 100%;
      padding-right: 70px;
      order: 1;
    }
  }
  .contest-form__textarea {
    width: 500px;
    height: 193px;
  }
}
@media (min-width: @desktop-width) {
  .contest-form {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 1px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contest-form__fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 23px;

    &--id {
      width: 435px;
      margin-bottom: 43px;
      padding-top: 39px;
    }

    &--application {
      width: 435px;
      margin-bottom: 40px;
      padding-top: 33px;
    }

    &--achievements {
      margin-bottom: 42px;
    }

    &--contacts {
      width: 100%;
      margin-bottom: 42px;
      padding-top: 22px;
    }

    &--emotions {
      margin-bottom: 65px;
      padding-bottom: 0;
    }
  }
  .contest-form__wrapper {
    width: 936px;

    &--applications {
      width: 431px;
      padding-bottom: 55px;
    }

    &--contacts {
      padding-bottom: 14px;
    }

    &--achievements {
      padding-bottom: 12px;
    }

    &--emotions {
      padding-bottom: 36px;
    }
  }
  .contest-form__block-text {
    width: 820px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .contest-form__legend {
    transform: translateX(calc(-50% - 1px));

    &--id {
      padding-right: 25px;
      padding-left: 25px;
    }

    &--applications {
      padding-right: 25px;
      padding-bottom: 38px;
      padding-left: 25px;
    }

    &--contacts {
      padding-bottom: 24px;
    }

    &--emotions {
      padding-right: 37px;
      padding-bottom: 25px;
      padding-left: 37px;
    }
  }
  .contest-form__text {
    &--id {
      margin-bottom: 53px;
    }

    &--contacts {
      width: 375px;
      margin: 0;
    }
  }
  .contest-form__textarea-item {
    width: 820px;
  }

  .contest-form__textarea {
    height: 128px;
  }
}
