.gallery-item {
  /*.local-reset()*/
  margin-bottom: 20px;
}
.gallery-item__author-image {
  display: block;
  margin: 0 20px;
}
.gallety-item__name-date {
  .local-reset();
  background-color: @background-lite;
  padding: 20px 20px 2px 20px;
  margin: 0 20px;
  text-align: left;
}
.gallery-item__name {
  .local-reset();
  color: @base-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.gallety-item__time {
  .local-reset();
  font-weight: lighter;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.gallety-item__text {
  .local-reset();
  padding: 0 20px;
  padding-bottom: 12px;
  margin: 0 20px;
  background-color: @background-lite;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}
.gallety-item__rating {
  .local-reset();
  margin: 0 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: @background-lite;
  padding: 0 20px;
  padding-bottom: 16px;
}
.gallery-item__like-text {
  .local-reset();
  color: @color-pink;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.gallery-item__btn-like{
  .local-reset();
  width: 13px;
  height: 12px;
  margin-right: 18px;
  border: 0;
  background: url("../img/icon-heart.svg") 50% 50% no-repeat;
  cursor: pointer;
}
