.upload-photo {
  .local-reset();
  padding-left: 20px;
  padding-right: 20px;
}
.upload-photo__text {
  .local-reset();
  padding-top: 49px;
  padding-bottom: 48px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @base-color;
}
@media (min-width: @tablet-width) {
  .upload-photo__text{
    padding-top: 74px;
    padding-bottom: 72px;
    font-size: 18px;
  }
}
@media (min-width: @desktop-width) {
  .upload-photo {
    padding: 0;
  }
  .upload-photo__text {
    width: 770px;
    margin: 0 auto;
    padding-bottom: 68px;
    padding-top: 69px;
  }
}
