.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}
.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  .local-reset();
  padding-right: 15px;
  font-size: 14px;
  line-height: 18px;

}
