.social__list {
  .list-reset();
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.social__item {
  flex-basis: auto;
  margin-right: 6px;
  margin-left: 6px;
}
.social__link {
  display: inline-block;
  vertical-align: top;
  width: 51px;
  height: 51px;
  box-sizing: border-box;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    border-color: @base-color;
  }
  &:active {
    opacity: 0.3;
  }
  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-position: 49% 50%;
  }
  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-position: 48% 45%;
  }
  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-position: 56% 48%;
  }
}

