.contacts {
  padding-top: 42px;
  padding-right: 20px;
  padding-bottom: 37px;
  padding-left: 20px;
}
.contacts__title {
  .local-reset();
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 1.233;
  font-weight: 300;
  color: @base-color;
  text-align: center;
  /*word-wrap: break-word;
  overflow-wrap: break-word;*/
}
.contacts__item {
  margin-bottom: 22px;
  text-align: center;

  &--email {
    margin-right: -4px;
    margin-bottom: 25px;
  }

  &--address {
    margin-bottom: 0;
  }
}
.contact__header {
  .local-reset();
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.233;
  font-weight: 700;
  color: @base-color;
  text-align: center;
  /*word-wrap: break-word;
  overflow-wrap: break-word;*/
  &--tel {
    margin-bottom: 2px;
  }
}
.contacts__link {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  font-size: 24px;
  line-height: 1.233;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: @color-pink;
  /*word-wrap: break-word;
  overflow-wrap: break-word;*/
  &:hover,
  &:focus {
    color: @base-color;
    text-decoration: underline;
  }
  &:active {
    color: rgba(255,255,255,0.3);
    text-decoration: none;
  }
}
.contacts__text {
  display: block;
  font-size: 24px;
  line-height: 1.233;
  font-weight: 300;
  text-align: center;
  color: @color-pink;
  /*word-wrap: break-word;
  overflow-wrap: break-word;*/
}
@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 46px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__title {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 43px;
    font-size: 40px;
  }
  .contacts__item {
    flex-basis: auto;

    &--tel {
      width: 300px;
      margin: 0;
      margin-bottom: 46px;
    }

    &--email {
      width: 300px;
      margin: 0;
      margin-bottom: 46px;
    }

    &--address {
      width: 320px;
      margin: 0 auto;
    }
  }
  .contacts__header {
    &--tel {
      margin-bottom: 5px;
    }

    &--email {
      margin-bottom: 8px;
    }

    &--address {
      margin-bottom: 7px;
    }
  }
}
@media (min-width: @desktop-width) {
  .contacts {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-top: 62px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__title {
    margin-bottom: 57px;
    font-size: 50px;
  }
  .contacts__item {
    margin: 0;
    margin-bottom: 20px;

    &--tel {
      order: 1;
    }

    &--email {
      order: 3;
    }

    &--address {
      order: 2;
    }
  }
  .contacts__header {
    margin-bottom: 24px;

    &--email {
      margin-bottom: 26px;
    }
  }
}
