.research {
  display: none;
}
@media (min-width: @tablet-width) {
  .research {
    display: block;
    padding-top: 101px;
    padding-bottom: 132px;
    background-color: #ffffff;
  }
  .research__wrapper {
    position: relative;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 310px;
  }
  .research__block-img {
    position: absolute;
    top: -30px;
    left: 0;
    width: 240px;
    height: 276px;
    background-image: url("../img/icon-timer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
    content: "24";
    position: absolute;
    width: 176px;
    height: 167px;
    top: 55px;
    left: 18px;
    padding-top: 9px;
    background-color: #ffffff;
    border: 13px solid @color-pink;
    border-radius: 50%;
    font-size: 96px;
    line-height: 149px;
    font-weight: 700;
    color: @color-pink;
    text-align: center;
    }
  }
  .research__block {
    text-align: left;
  }
  .research__title {
    .local-reset();
    margin-bottom: 22px;
    color: black;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0;
  }
  .research__text {
    .local-reset();
    margin-bottom: 20px;
  }
  .research__link {
    .local-reset();
    color: @color-pink;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
  }
}
  .research__link:hover,
  .research__link:focus {
    color: @base-color;
  }
  .research__link:active {
    color: #bec2c7;
  }
@media (min-width: @desktop-width) {
  .research {
    padding: 0;
    background-color:@background-light;
  }
  .research__wrapper {
    position: relative;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 376px;
  }
  .research__block-img {
    top: -60px;
    left: 0;
    width: 298px;
    height: 345px;

    &::after {
    width: 221px;
    height: 211px;
    top: 70px;
    left: 22px;
    border: 16px solid #d22856;
    font-size: 120px;
    line-height: 187px;
    }
  }
  .research__title {
    width: auto;
    margin: 0;
    margin-bottom: 25px;
    line-height: 1;
  }
  .research__title br {
    display: none;
  }
  .research__text {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.66;
  }
  .research__link {
    font-size: 18px;
    line-height: 1.66;
  }
}
