.reviews {
  text-align: center;
  padding-bottom: 40px;
}
.review__item {
  .local-reset();
  width: 320px;
  min-height: 260px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
}
.reviews__author {
  .local-reset();
  color: #000000;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
.reviews__text {
  .local-reset();
 color: @base-color;
}
