.reviews {
  padding-bottom: 40px;
}
.review__item {
  .local-reset();
  width: 320px;
  min-height: 260px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
}
.reviews__author {
  .local-reset();
  color: #000000;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
.reviews__text {
  .local-reset();
  color: @base-color;
}
.reviews__author-more {
  display: none;
}
@media (min-width: @tablet-width) {
  .reviews {
    text-align: center;
  }
  .reviews__item {
    display: flex;
    flex-direction: column;
  }
  .reviews__author {
    .local-reset();
    order: 2;
    font-size: 20px;
    line-height: 30px;
  }
  .reviews__author-more {
    .local-reset();
    display: block;
    order: 3;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }
  .reviews__text {
    order: 1;
    padding-bottom: 45px;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: @desktop-width) {

}
