.slider {
  position: relative;
}
.slider__toggles {
  text-align: center;
}
.slider__toggle {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: @color-border;
  text-indent: -50px;
  overflow: hidden;
  cursor: pointer;
}
.slider__toggle:hover {
  background-color: #b5b9be;
  border: 3px solid #ffffff;
}
.slider__toggle:active {
  background-color: @background-light;
  border: 3px solid #ffffff;
}
.slider__toggle--current {
  border: 3px solid @base-color;
  background: #ffffff;
}
@media (min-width: @tablet-width) {
  .slider__toggle {
    margin: 0 4px;
  }
}
@media (min-width: @desktop-width) {
  .slider__toggle {
    display: none;
  }
}
